.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maincontent {
  font-family: "Roboto", sans-serif;
}

.sidecontent {
  font-size: x-small;
  background-color: red;
  margin: auto;
}

.subhead {
  font-size: small;
}

.locationcard {
  height: 300px;
  width: 350px;
}

.accordion {
  position: static;
  margin-left: 50px;
  width: 400px;
}

.footercontent {
  padding-bottom: 25px;
}

.backtop {
  padding-top: 8px;
  height: 40px;
  background-color: rgb(146, 136, 248, 0.3);
}

#logomain {
  height: 120px;
}

.loginform {
  width: 550px;
  height: 360px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.addressform {
  width: 500px;
  height: 420px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cartbutton {
  height: 50px;
  width: 50px;
  text-align: center;
  margin-top: 35px;
  background-color: rgb(206, 206, 90, 0.7);
}

.cartbutton:hover {
  background-color: rgb(146, 136, 248, 0.3);
}

.viewbutton {
  height: 35px;
  width: 70px;
  text-align: center;
  margin-top: 35px;
  background-color: rgb(206, 206, 90, 0.7);
}

.viewbutton:hover {
  background-color: rgba(69, 165, 13, 0.3);
}

.showimage {
  height: 600px;
  width: 400px;
}

.homecontent {
  color: rgb(14, 1, 1);
  isolation: isolate;
  margin-bottom: 30px;
}
